name: Discord PR Notifications
on:
  workflow_call: {}

jobs:
  notify-discord:
    runs-on: ubuntu-latest
    steps:
      - name: Send Discord notification
        uses: Yasser5711/Discord-PR-Notify@v1
        with:
          discord_webhook_url: ${{ secrets.DISCORD_WEBHOOK_URL }}
          discord_id_map_json: ${{ secrets.DISCORD_ID_MAP_JSON }}
          giphy_api_key: ${{ secrets.GIPHY_API_KEY }}
          enable_gif: "true"
          embed_username: "Corevia Bot"
          embed_avatar_url: "https://raw.githubusercontent.com/ESP-Corevia/.github/refs/heads/master/.github/assets/logo.png"
          include_description: false
